# Copia in `.env`. NON committare `.env`.

DEBUG=True
SECRET_KEY=django-insecure-dev-only-change-me

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,grandineticino.ch,www.grandineticino.ch
CSRF_TRUSTED_ORIGINS=http://localhost:8001,https://grandineticino.ch,https://www.grandineticino.ch

# Email SMTP Infomaniak
EMAIL_HOST=mail.infomaniak.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=info@grandineticino.ch
# EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=info@grandineticino.ch
LEAD_RECIPIENT_EMAIL=info@grandineticino.ch
FUNNEL_RECIPIENT_EMAIL=info@grandineticino.ch
FUNNEL_SEND_AUTORESPONSE=true
